{% extends 'music/base.html' %}

{% block body %}
    <h1>{{album}}</h1>
    <img src="{{album.album_logo}}">
    {% if error_message %}
        <h3>{{error_message}}</h3>
    {% endif %}
    <form action = "{% url 'music:favorite' album.id %}" method="post">
        {%csrf_token%}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{song.id}}">
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="http://i.imgur.com/b9b13Rd.png" />
                {% endif %}
            </label><br>
        {% endfor %}
        <input type="submit" value="favorite">
    </form>

{% endblock %}